
<%- include("header") -%>

  <!-- Wrap scriptlet tag around non-HTML code -->
  <!-- Our template for all our to-do-lists-->
  <!-- Running code in our EJS file -->
  <div class="box" id="heading">
    <h1 style="color: black"><%= listTitle %></h1>
  </div>

<!-- Using for loop to create a new li for each new li -->
  <div class="box">
    <% for (let i = 0; i < newItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%= newItems[i] %></p>
    </div>

    <% } %>
    <form class="item" action="/study-tracker" method="post">
      <input type="text" name="nextItem" placeholder="New Item" autocomplete="off">
      <button class="add" type="submit" name="list" value=<%= listTitle %>>+</button>

      <!-- The ejs holder changes the value to something dynamic -->
      <!-- the button triggers a post request -->
    </form>
  </div>

  <div class="cover row buttons">
    <a href="./"><button role="button" class="custom-button cover btn-lg" type="button" type="submit" action="./timer" name="timer">Back to Homepage<i class="fas fa-clock fa-lg"></i>  </button></a>
  </div>

<%- include("footer") -%>
